<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3">Current Active Sessions:</p>
<% for (let i in session.sessions) { %>
    <p>Session ID: <%= i %><br>
    User ID: <%= JSON.parse(session.sessions[i]).passport.user %></p>
    <form action ="/revoke/:<%= i %>" method="POST">
        <button class="btn btn-primary" type="submit" >Revoke Sessions</button>
    </form>
<% } %>